<h1>Compete</h1>
<div class="row">
	<div class="span9">
		<label>Language:</label>
	</div>
</div>
<div class="row">
	<div class="span9">
		<select ng-model="language" ng-options="l.value as l.name for l in languages"></select>
	</div>
</div>
<div class="row">
	<div class="span9">
		<label>Set(s):</label>
	</div>
</div>
<div class="row">
	<div class="span9">
		 <select ng-model="cardSet" ng-options="c.value as c.name group by c.category for c in cardSets"></select>
	</div>
</div>
<div class="row">
	<div class="span9">
		<label>Card Count:</label>
	</div>
</div>
<div class="row">
	<div class="span9">
		<label class="radio inline">
			<input type="radio" name="optionsCount" id="optionsCount1" value="3" checked ng-model="cardCount">
			3 </label>
		<label class="radio inline">
			<input type="radio" name="optionsCount" id="optionsCount1" value="15" checked ng-model="cardCount">
			15 </label>
		<label class="radio inline">
			<input type="radio" name="optionsCount" id="optionsCount2" value="25" ng-model="cardCount">
			25 </label>
		<label class="radio inline">
			<input type="radio" name="optionsCount" id="optionsCount3" value="50" ng-model="cardCount">
			50 </label>
		<label class="radio inline">
			<input type="radio" name="optionsCount" id="optionsCount4" value="100" ng-model="cardCount">
			100 </label>
		<label class="radio inline">
			<input type="radio" name="optionsCount" id="optionsCount5" value="all" ng-model="cardCount">
			All </label>
	</div>
</div>
<div class="row">
	<div class="span9">
		<label class="checkbox">
			<input id="inverseCheckbox" type="checkbox" ng-model="inverse" ng-true-value="true" ng-false-value="false">
			Inverse </label>
	</div>
</div>
<div class="row">
	<div class="span9">
		<a href="#/play" class="btn" ng-click="createGame()">
			Start
		</a>
	</div>
</div>