<h1>Compete</h1>
<div class="row">
	<div class="span9">
		<label>Language:</label>
	</div>
</div>
<div class="row">
	<div class="span9">
		<select id="language"></select>
	</div>
</div>
<div class="row">
	<div class="span9">
		<label>Set(s):</label>
	</div>
</div>
<div class="row">
	<div class="span9">
		<select id="set"></select>
	</div>
</div>
<div class="row">
	<div class="span9">
		<label>Card Count:</label>
	</div>
</div>
<div class="row">
	<div class="span9">
		<label class="radio inline">
			<input type="radio" name="optionsCount" id="optionsCount1" value="15" checked>
			15 </label>
		<label class="radio inline">
			<input type="radio" name="optionsCount" id="optionsCount2" value="25">
			25 </label>
		<label class="radio inline">
			<input type="radio" name="optionsCount" id="optionsCount3" value="50">
			50 </label>
		<label class="radio inline">
			<input type="radio" name="optionsCount" id="optionsCount4" value="100">
			100 </label>
		<label class="radio inline">
			<input type="radio" name="optionsCount" id="optionsCount5" value="all">
			All </label>
	</div>
</div>
<div class="row">
	<div class="span9">
		<label class="checkbox">
			<input id="inverseCheckbox" type="checkbox" value="inverse">
			Inverse </label>
	</div>
</div>
<div class="row">
	<div class="span9">
		<button id="start" type="button" class="btn">
			Start
		</button>
	</div>
</div>