<div id="card-wrapper">
	<div id="previous" class="hidden-phone" ng-click="previous()" previous ng-show="!showAnsweredView">
		<!-- Image defined in style.css -->
	</div>
	<div id="card" class="{{inverseClass}}">
		<div id="card-art">
			<img ng-src="{{art}}"/>
		</div>
		<ul id="card-bgs">
			<li ng-repeat="bg in currentBgList" ng-class="{current : $first}">
				<img ng-src="{{bg}}"/>
			</li>
		</ul>
	</div>
	<div id="next" class="hidden-phone" ng-click="next()" next ng-show="!showAnsweredView">
		<!-- Image defined in style.css -->
	</div>
</div>
<div id="controls">
	<div id="card-count-wrapper">
		<small id="card-count">{{currentCard}}/{{cardSetCount}}</small>
	</div>
	<div id="timer-wrapper" ng-show="gameType == 'compete'">
		<small timer><!-- Place holder --></small>
	</div>
	<div id="right-wrong-icons">
		<div class="right"><!-- Image defined in style.css --></div>
		<div class="wrong"><!-- Image defined in style.css --></div>
	</div>
	<div id="buttons-wrapper">
		<button id="match" type="button" class="btn btn-primary" ng-click="match()" match ng-show="!showAnsweredView">
			Match
		</button>
		<button id="showAnswer" type="button" class="btn" ng-click="showAnswer()" ng-show="gameType == 'train' && showAnsweredView">
			Show
		</button>
		<button id="nextCard" type="button" class="btn" ng-click="advanceNextCard()" advance ng-show="gameType == 'train' && showAnsweredView">
			Next
		</button>
		<button id="done" type="button" class="btn" ng-click="done()" ng-show="gameType == 'compete'">
			Done
		</button>
	</div>
</div>
<ul id="preLoadingZone"><!-- preloading the next set of cards -->
	<li ng-repeat="bg in nextBgList">
		<img ng-src="{{bg}}"/>
	</li>
</ul>
